@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    @apply text-gray-800 bg-gray-100
  }

  a {
    -webkit-tap-highlight-color: transparent;
  }

  p a {
    @apply underline
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab'
  }

  h1 {
    @apply text-3xl font-bold
  }

  h2 {
    @apply text-2xl font-bold
  }

  h3 {
    @apply text-xl font-bold
  }

  h4 {
    @apply text-lg font-bold
  }

  button {
    -webkit-tap-highlight-color: transparent;
    @apply focus:outline-none border-transparent 
    
  }
}

@layer components {
  .btn {
    @apply uppercase tracking-wide whitespace-nowrap font-semibold transform transition ease-in-out inline-flex items-center justify-center px-4 py-3 rounded-md shadow-sm text-base
  }
  .solid-primary {
    @apply bg-primary-800 text-white hover:bg-primary-700 active:bg-primary-600 text-shadow-sm
  }
  .solid-secondary {
    @apply bg-secondary-300 text-secondary-700 hover:bg-secondary-200 active:bg-secondary-400
  }
}


@layer utilities {
  @variants responsive {
      .text-shadow {
        text-shadow: 2px 2px 4px rgba(0,0,0,0.35);
      }
      .text-shadow-sm {
        text-shadow: 1px 1px 2px rgba(0,0,0,0.35);
      }
      .text-shadow-md {
        text-shadow: 4px 4px 8px rgba(0,0,0,0.35);
      }
      .text-shadow-lg {
        text-shadow: 15px 15px 30px rgba(0,0,0,0.35);
      }
      .text-shadow-none {
        text-shadow: none;
      }
  } 

  .text-xxs {
    font-size: 0.6em;
  }
}



